.header{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 10000;
    width: 100%;
    background: #0000004d;
}

.header .structure {
    display: flex;
    padding: 1rem 0;
    align-items: inline-block;
    justify-content: space-between;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.logo{
    padding: 1.3rem 3rem;
    background-color: gray;
    width: 12.5rem;
    height: 4.7rem;
    border-radius: 2.5rem;
    text-align: center;
    vertical-align: middle;
}
.t_l{
    color: white;
    font-size: 1.5rem;
}
.header-logo{
    display: flex;
    align-items: center;
    float: left;
    width: auto;
    justify-content: space-between;
    vertical-align: middle;
}
.header-contact{
    display: flex;
    width: auto;
    align-items: center;
    float: right;
}
.icon_wa{
    border-radius: 100%;
    width: 2rem;
    height: 2rem;

}
.name{
    color: white;
    font-size: 1rem;
    width: 12.5rem;
    margin-left: 1.5rem;
}
.contacts{
    display: flex;
    align-items: center;

}
.schedule{
    color: white;
    font-size: 1rem;
    margin-right: 1.5rem;
}
.WA{
    color: white;
    font-size: 1rem;
    text-decoration: underline;
}