.header{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 10000;
    width: 100%;
    background: #0000004d;
}

.header .structure {
    display: flex;
    padding: 3.8rem 11.2rem;
    padding-bottom: 2rem;
    align-items: inline-block;
    justify-content: space-between;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.logo{
    padding: 1.6rem 3rem;
    background-color: gray;
    width: 12.3rem;
    height: 4.7rem;
    border-radius: 2.5rem;
    text-align: center;
    vertical-align: middle;
}
.t_l{
    color: white;
    font-size: 1.2rem;
}
.header-logo{
    display: flex;
    align-items: center;
    float: left;
    width: auto;
    justify-content: space-between;
    vertical-align: middle;
    padding-left: 2.6rem;
}
.header-contact{
    display: flex;
    width: auto;
    align-items: center;
    float: right;
    padding: 0 11rem;
}
.icon_wa{
    margin-top: 0.1rem;
    border-radius: 100%;
    width: 3.45rem;
    height: 3.45rem;

}
.name{
    color: white;
    font-size: 1.04rem;
    width: 16.7rem;
    box-sizing: border-box;
    padding: 0 2.8rem;
}
.contacts{
    display: flex;
    align-items: center;
    padding: 0.74rem 0;
}
.schedule{
    color: white;
    font-size: 1.04rem;
    padding: 0 4.9rem;
}
.WA{
    margin-top: 0.1rem;
    color: white;
    font-size: 1.05rem;
    text-decoration: underline;
    margin-left: 1rem;
}