.homepage_wrapper {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,1)),
    url(../assets/background.png) center center;
    box-sizing: border-box;
    width: 100vw;
    background-size: cover;
}
.homepage {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}
.homepage.structure {
    width: 63.5%;
    padding-top: 17.5rem;
    padding-bottom: 25.2rem;
}


/*текст (homepage -> left-item)*/
.left-item{
    position: relative;
    top: -7.3rem;
    flex-direction: column;
    vertical-align: middle;
    width: 60rem;
}

.white{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.492rem;
    color: white;
    font-weight: 600;
}
.info_homepage{
    max-width: 45rem;
}
.info_homepage h1{
    margin-bottom: 2.5rem;
    font-size: 3.492rem;
    width: 60rem;
}
.main_text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.949rem;
    width: 60rem;
}

h1{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #FEDA82, #FEC338);
}


/*гарантия*/
.guarantee{
    display:flex;
    flex-direction: column;
    position: absolute;
    width: min-content;
    align-items: center;
    text-align: center;
    bottom: 24.3rem;
    left: 0;
}
.text_guarantee{
    background-color: white;
    height: auto;
    width: 17.8rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    font-size: 0.96rem;
    padding: 0.9rem 1.2rem;
    padding-bottom: 2.9rem;
    margin-left: 0.1rem;

}
.picture_lenta{
    position: absolute;
    top: 6.4rem;
    width: 20.8rem;
    margin-left: -1.3rem;
}


/*общие настройки калькулятора*/
.right-item{
    top: -3.6rem;
    left: -0.7rem;
    display: flex;
    align-items: center;
    position: relative;
}
.background_rectangle{
    position: absolute;
    background-color: white;
    width: 34.2rem;
    height: 45.6rem;
    border-radius: 1rem;
    left: 2rem;
    top: 0;
}
.calculator{
    position: relative;
    background-color: white;
    width: 38.2rem;
    height: 44.7rem;
    border-radius: 1rem;
    z-index: 1;
    box-shadow: 0.02rem 0.02rem 0.25rem;
    padding: 1.6rem 4.19rem;
    box-sizing: border-box
}
.container{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.calculator_picture{
    width: 13rem;
    height: 13rem;
    position: relative;
    margin-top: -6.1rem;
    right: 1.7rem;
    transform: rotate(-7deg)
}
h2{
    font-size: 2rem;
    width: min-content;
    white-space: nowrap;
}


/*первый слайдер*/
.slider-main{
    margin-bottom: 3.5rem;
    width: 29.8rem;
}
.slider-text{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.565rem;
    width: auto;
    white-space: nowrap;
}
output{
    position: absolute;
    color:  #FEC338;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.2rem;
    width: 6rem;
}
#fader{
    width: 29.8rem;
    height: 0.8rem;
}
.slider-active{
    border-radius: 0.4rem;
    width: 10rem;
    height: 0.8rem;
}
.min{
    margin-top: -0.25rem;
    position: absolute;
    font-size: 1.2rem;
    color: rgba(196, 196, 196, 0.644);
}
.max{
    position: absolute;
    margin-left: 27.6rem;
    margin-top: -0.25rem;
    font-size: 1.2rem;
    color: rgba(196, 196, 196, 0.644);
}
.range-first {
    -webkit-appearance: none;
    appearance: none;
    width: 22rem;
    height: 0.8rem;
    background: transparent;
}
.range-first::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.7rem;
    background: rgba(196, 196, 196, 0.644);
    position: relative;
    border-radius: 1rem;
}
.range-first::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #FEC338;
    margin-top: -0.1rem;
    position: relative;
    z-index: 0;
}
.range-first::-webkit-slider-runnable-track:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #FEC338;
    width: 100%;
    z-index: -100;
}
.range-first::-webkit-slider-runnable-track:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.644);
    width: calc(100% - 20px);
    z-index: -200;
}
.range-first::-webkit-slider-thumb:hover::-webkit-slider-runnable-track:after,
.range-first::-webkit-slider-thumb:focus::-webkit-slider-runnable-track:after {
    background: black;
    z-index: 10000;
}


/*второй слайдер*/
.min1{
    margin-top: -0.25rem;
    position: absolute;
    font-size: 1.2rem;
    color: rgba(196, 196, 196, 0.644);
}
.max1{
    margin-top: -0.25rem;
    font-size: 1.2rem;
    position: absolute;
    margin-left: 28.5rem;
    color: rgba(196, 196, 196, 0.644);
}
.output1{
    position: absolute;
    color:  #FEC338;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.1rem;
    margin-left: 0.2rem;
}
#fader1{
    width: 29.8rem;
    height: 0.8rem;
}
.range1 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.8rem;
    background: transparent;
}
.range1::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.8rem;
    background: rgba(196, 196, 196, 0.644);
    position: relative;
    border-radius: 1rem;
}
.range1::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #FEC338;
    top: -0.1rem;
    position: relative;
    z-index: 0;
}
.range1::-webkit-slider-runnable-track:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #FEC338;
    width: 100%;
    z-index: -100;
}

.range1::-webkit-slider-runnable-track:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.644);
    width: calc(100% - 20px);
    z-index: -200;
}
.range1::-webkit-slider-thumb:hover::-webkit-slider-runnable-track:after,
.range1::-webkit-slider-thumb:focus::-webkit-slider-runnable-track:after {
    background: black;
    z-index: 10000;
}



/*третий слайдер*/
.output2{
    position: absolute;
    color:  #FEC338;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.1rem;
    margin-left: 0.2rem;
}
#fader2{
    position: relative;
    width: 29.8rem;
}
.range2 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.8rem;
    background: transparent;
}

.range2::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.8rem;
    background: rgba(196, 196, 196, 0.644);
    position: relative;
    border-radius: 20px;
}

.range2::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #FEC338;
    margin-top: -0.1rem;
    position: relative;
    z-index: 0;
}

.range2::-webkit-slider-runnable-track:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #FEC338;
    width: 100%;
    z-index: -100;
}

.range2::-webkit-slider-runnable-track:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.644);
    width: calc(100% - 20px);
    z-index: -200;
}

.range2::-webkit-slider-thumb:hover::-webkit-slider-runnable-track:after,
.range2::-webkit-slider-thumb:focus::-webkit-slider-runnable-track:after {
    background: black;
    z-index: 10000;
}


/*цена*/
.price-main{
    display: flex;
    height: 2rem;
    font-weight:500;
    margin-bottom: 2.5rem;
    vertical-align: middle;
    text-align: center;
}
.price-text{
    width: min-content;
    white-space: nowrap;
    font-size: 1.45rem;
    padding: 0.2rem 0;
    margin-right: 2rem;
}
.price-value{
    margin-left: 1.5rem;
    margin-top: -0.45rem;
    width: min-content;
    font-size: 2.3rem;
    font-weight: 600;
}
.price{
    display: flex;
    width: min-content;
    white-space: nowrap;
    justify-content: space-between;
    vertical-align: middle;
    text-align: center;
}
.currency{
    position: absolute;
    margin-left: -0.2rem;
    margin-top: 1.2rem;
    font-size: 1.6rem;
}
.line{
    position: absolute;
    margin-top: -1rem;
    margin-left: -0.2rem;
    width: 12rem;
}


/*ввод телефона*/
.phone-numbers{
    width: 29.8rem;
    height: 5.2rem;
    border-radius: 0.75rem;
    padding: 0 4rem;
    border: rgba(216, 216, 216, 0.301);
    background-color: rgba(216, 216, 216, 0.301);
    font-size: 1.2rem;
    border: 0.05rem solid rgb(197, 197, 197);
    margin-bottom: 1.139rem;

}
.icon-phone{
    margin-top: 1.5rem;
    margin-left: 1.1rem;
    position: absolute;
    width: 2.5rem;

}


/*кнопка*/
.button{
    width: 29.8rem;
    height: 5.4rem;
    padding: 1.8rem 0;
    background-image: linear-gradient(to bottom,#FEDA82, #FEC338);
    border-radius: 1.3rem;
    text-decoration: none;
    color: black;
    box-shadow: 0 0.15rem 0 rgba(73, 20, 20, 0.342);
    text-align: center;
}
.tex{
    font-size: 1.38rem;
}